[submodule "jorels-odoo-addons"]
	path = jorels-odoo-addons
	url = https://gitlab.com/jorels-community/jorels-odoo-addons.git
	branch = 15.0
[submodule "l10n_cr"]
	path = l10n_cr
	url = https://github.com/odoocr/l10n_cr.git
	branch = 15.0
