<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <record id="soa_integration_api_action" model="ir.actions.act_window">
        <field name="name">SOA</field>
        <field name="res_model">soa.integration.api</field>
        <field name="view_mode">tree,form</field>
    </record>


    <menuitem id="soa_integration_api" name="SOA" web_icon="soa_integration_api,static/description/icon.png"/>
    <menuitem id="soa_integration_api_child" parent="soa_integration_api" action="soa_integration_api_action"/>
</odoo>